* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'InterVariableFont';
	src: local('InterVariableFont'), url('./fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'InterVariableFont',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	/*global colors*/

	--brand-orange: #FF7F00;
	--brand-blue: #6BBCFF;
	--dark: #111111;
	--light: #F8FCFF;
	--beige: #E8E8E8;
	--white: #FFFFFF;
}
