* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Inter';
	src: local('Inter'), url('./fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

body {
	margin: 0;
	font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: var(--white);
}

:root {
	/*global colors*/

	--brand-orange: #FF7F00;
	--brand-blue: #1C2752;
	--dark: #111111;
	--light: #F8FCFF;
	--beige: #E8E8E8;
	--white: #FFFFFF;
	--active-orange: linear-gradient(0deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.40) 100%), #FF7F00;
}
